.black-cat{
    border-width:5px;
    border-style:dotted;
    border-color:grey;
    background:white;
    width:300px; 
    }
    
.sun-width{
    width:25px;
}

    .sun-color{
background-color:lightgoldenrodyellow;
}

.cloudy-color{
    background-color:lightgrey;
    }
    h1{
        font-size: xx-large;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font: weight 900;
    }
    p{
        font-weight:bold;
    }